<div class="create-beer-container">
    <form action="/beer/create" method="POST">
        <input type="text" name="tagline" placeholder="write a tagline">
        <input type="text" name="description" placeholder="describe your beer">
        <input type="text" name="name" placeholder="name of beer">
        <button type="submit">create beer</button>
    </form>
</div>
