<div class="beer-container">
{{#each beers}}
    {{> beer }}
{{/each}}
</div>

<style>
    .beer-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 5% 10%;
    }
</style>

